.react-datepicker {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border: none !important;
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  position: relative;
}

.react-datepicker__month-container {
  padding: 40px 20px 20px 20px;
}

.react-datepicker__navigation--previous {
  margin: 10px;
  top: 35px;
}

.react-datepicker__navigation--next {
  margin: 10px;
  top: 35px;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.react-datepicker-popper {
  z-index: 30 !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  padding: 0 !important;
  border: none !important;
  position: relative;
  text-align: center;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  margin: 0px 12px 6px 12px;
}

.react-datepicker__current-month {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: white;
}
.react-datepicker__week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5px 0;
}

.react-datepicker__day-names {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 34px;
  margin-bottom: 4px;
}
.react-datepicker__day-name {
  width: 48px !important;
  font-size: 16px;
  color: black !important;
}
.react-datepicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px !important;
  height: 48px !important;
  font-size: 16px;
  color: black !important;

  &:hover {
    border-radius: 90px;
  }
}

.react-datepicker__day--selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03539f !important;
  border-radius: 90px !important;
  color: white !important ;
  font-weight: 400;
  z-index: 2;
}

.react-datepicker__day--today {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 90px;
  border-width: 1px;
  border-color: #03539f;
  font-weight: 400;
  z-index: 2;

  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 90px;
    border-width: 1px;
    border-color: #03539f;
    font-weight: 400;
  }
}

.react-datepicker__day--in-range {
  background-color: #e0eefe;
  border-radius: 90px;
  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border-width: 1px;
    border-color: #03539f;
    background-color: #e0eefe;
    font-weight: 400;
  }
}

.react-datepicker__day--keyboard-selected {
  background-color: white;
  &:hover {
    border-radius: 90px;
    background-color: #f1f1f1;
  }
}
.react-datepicker__day--in-range.react-datepicker__day--keyboard-selected {
  background-color: #e0eefe;
  border-color: transparent;
  &:hover {
    border-radius: 90px;
    background-color: #e0eefe;
    border-color: #03539f;
  }
}

.react-datepicker-time__header {
  background-color: white;
  padding: 30px 0;
  border-bottom: 1px solid #e0eefe;
  font-weight: 400;
}
.react-datepicker__time-list {
  height: 350px !important;
}
.react-datepicker__time-list-item {
  padding: 20px 4px !important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.react-datepicker__time-list-item--selected {
  background-color: #03539f !important;
  color: white !important ;
  font-weight: 400;
}

.react-datepicker__input-time-container .react-datepicker-time__caption {
  display: none;
}

.custom-select {
  border: 1px solid #dbdbdb;
  text-align: center;
  border-radius: 0.25rem;
}

.custom-select-option {
  height: 28px;
  text-align: center;
}

.react-datepicker__input-time-container {
  margin: 0px 0 20px 0px;
}
